.hc-rating{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.hc-rating__icon{
    font-size: 1.2rem;
    color: var(--color-6);
    transition: all 0.5s;
}

.hc-rating__icon--active{
    color: var(--color-2);
}


.hc-rating:hover > .hc-rating__icon--active{
    color: var(--color-6);
}


.hc-rating:hover > .hc-rating__icon{
    color: var(--color-2);
}

.hc-rating__icon:hover ~ .hc-rating__icon{
    color: var(--color-6);
}


.hc-rating__label{
    margin-left: 15px;
    font-size: 1rem;
}