.hc-user-review-card__header{
    position: absolute;
    top: calc(var(--avatar-size) * -0.5);
    width: 100%;
}

.hc-user-review-card__body{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    padding: 120px 100px 50px 100px;
}