.hc-expandable__text-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s;
}

.hc-expandable__decor{
    opacity: 0;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: opacity 0.5s;
}

.hc-expandable__text-box--collapsed{
    transition: height 0.5s;
}

.hc-expandable__text-box--collapsed > .hc-expandable__decor{
    opacity: 1;
    transition: opacity 0.5s;
}