.hc-view {
    flex: 1;
    width: 100%;
}

.hc-view__container{
    position: relative;
    display: block;
    width: 80%;
    max-width: 1155px;
    margin: auto;
    top: -100px;
}

.hc-view__content-wrapper {
    position: relative;
    width: 100%;
    background-color: var(--color-7);
    padding: 0 150px 0 150px;
    min-height: 100%;
    top: -100px;
}

.hc-view__content {
    position: relative;
    width: 100%;
    min-height: 100%;
    top: -100px;
}