.hc-navbar {
    position: absolute;
    box-shadow: var(--shadow);
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.hc-navbar--sticky {
    position: fixed;
    top: 0;
}

.hc-navbar__content{
    margin: auto;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    transition: height 0.5s;
}