

.hc-comment {
    position: relative;
    width: 100%;
}

.hc-comment__body {
    background-color: var(--color-7);
    margin-bottom: calc(var(--avatar-size) * -0.5);
    padding-top: 30px;
    padding-bottom: calc(var(--avatar-size) * 0.5 + 30px);
    padding-left: 30px;
    padding-right: 30px;
}

.hc-comment__body::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--color-7);
    z-index: 0;
}

.hc-comment__footer {
    width: 100%;
}

.hc-comment__title {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 15px;
}

.hc-comment__desc {
    font-size: 1rem;
}