.hc-button{
    background-color: var(--color-2);
    height: 5rem;
    min-width: 350px;
    border: none;
    outline: none;
}

.hc-button > span{
    color: var(--color-1);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
}