.hc-menu {
    display: flex;
    height: 100%;
}

.hc-menu-button{
    display: flex;
    padding: 0 30px;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

.hc-menu-button--active{
    background-color: var(--color-7);
}

.hc-menu-button__label{
    color: var(--color-1);
}

.hc-menu-button--active > .hc-menu-button__label{
    color: rgb(0, 0, 0);
}