.hc-thumb {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 50px;
    
}

.hc-thumb-button{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--color-6);
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.hc-thumb-button--up{
    background-color: var(--color-4);
}

.hc-thumb-button--down{
    background-color: var(--color-3);
}


.hc-thumb-button__wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: all 0.5s;
    z-index: 2;
}