.hc-comment-form {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 60px;
}

.hc-comment-form__input {
    flex: 1;
    padding: 15px 10px;
    border: none;
    background-color: 'white';
}

.hc-comment-form__submit {
    position: absolute;
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--color-2);
    color: var(--color-1);
    bottom: 0;
}