.hc-user-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hc-user-avatar__image {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    border: 3px solid rgb(255, 255, 255);
    box-sizing: content-box;
}

.hc-user-avatar__title{
    font-size: 1.3rem;
    color: var(--color-1);
}

.hc-user-avatar__description{
    font-size: 1rem;
    color: var(--color-6);
}